name: test pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: external workflow
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    permissions:
      id-token: write
      actions: write
      contents: write
      packages: write
      security-events: write
    with:
      event_name: ${{ github.event_name }}
      install: install_test_dependencies.sh
      test: test_system.sh
      tool: bash
      publish_python_libraries: "false"
